<td height="500" valign="top"><table width="1100" border="0" align="center">
<style>
.download_1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 30px;
    padding-top: 30px;
}
.download_2 {
    background-color: #2E7D32;
    font-family: "MS Serif", "New York", serif;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
}
.download_5 {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 25px;
    padding-top: 25px;
}
</style>
      <tbody><tr class="download_1">
        <td><p class="download_1"><span class="bolder">FDRdb</span> provides a download page that enables users to download fibrotic diseases associated RNAs and datasets that have been reported. View our <a style="cursor: pointer; color: #06C;" onclick="a=$.ajax({url:'/FDRdb/help/',success:function(){$('#context_panel').html(a.responseText)}})"><span class="sear8">Help</span></a> page for further help.</p></td>
      </tr>
      <tr class="download_2">
        <td height="35">miRNA-fibrotic diseases association data in FDRdb</td>
      </tr>
      <tr valign="top" class="download_5">
        <td><p>All miRNA-fibrotic diseases association data that have been reported.( <a href="/FDRdb/download_txt/All_miRNA/">txt</a> or <a href="/FDRdb/download_csv/All_miRNA/">excel</a>). <br>
          The Homo sapiens miRNA-fibrotic diseases association data in FDRdb ( <a href="/FDRdb/download_txt/Homo_sapiens_miRNA/">txt</a> or <a href="/FDRdb/download_csv/Homo_sapiens_miRNA/">excel</a>).<br>
          The Mus musculus miRNA-fibrotic diseases association data in FDRdb ( <a href="/FDRdb/download_txt/Mus_musculus_miRNA/">txt</a> or <a href="/FDRdb/download_csv/Mus_musculus_miRNA/">excel</a>).<br>
          The Rattus norvegicus miRNA-fibrotic diseases association data in FDRdb ( <a href="/FDRdb/download_txt/Rattus_norvegicus_miRNA/">txt</a> or <a href="/FDRdb/download_csv/Rattus_norvegicus_miRNA/">excel</a>).<br>
          </p></td>
      </tr>
      <tr class="download_2">
        <td height="35">LncRNA-fibrotic diseases association data in FDRdb</td>
      </tr>
      <tr class="download_5">
        <td><p>All LncRNA-fibrotic diseases association data that have been reported ( <a href="/FDRdb/download_txt/All_LncRNA/">txt</a> or <a href="/FDRdb/download_csv/All_LncRNA/">excel</a>). <br>
          The Homo sapiens LncRNA-fibrotic diseases association data in FDRdb ( <a href="/FDRdb/download_txt/Homo_sapiens_LncRNA/">txt</a> or <a href="/FDRdb/download_csv/Homo_sapiens_LncRNA/">excel</a>).<br>
          The Mus musculus LncRNA-fibrotic diseases association data in FDRdb ( <a href="/FDRdb/download_txt/Mus_musculus_LncRNA/">txt</a> or <a href="/FDRdb/download_csv/Mus_musculus_LncRNA/">excel</a>).<br>
          The Rattus norvegicus LncRNA-fibrotic diseases association data in FDRdb ( <a href="/FDRdb/download_txt/Rattus_norvegicus_LncRNA/">txt</a> or <a href="/FDRdb/download_csv/Rattus_norvegicus_LncRNA/">excel</a>).<br>
          </p></td>
      </tr>
      <tr class="download_2">
        <td height="35">mRNA-fibrotic diseases association data in FDRdb</td>
      </tr>
      <tr class="download_5">
        <td><p>All mRNA-fibrotic diseases association data that have been reported.( <a href="/FDRdb/download_txt/All_mRNA/">txt</a> or <a href="/FDRdb/download_csv/All_mRNA/">excel</a>). <br>
          The Homo sapiens mRNA-fibrotic diseases association data in FDRdb ( <a href="/FDRdb/download_txt/Homo_sapiens_mRNA/">txt</a> or <a href="/FDRdb/download_csv/Homo_sapiens_mRNA/">excel</a>).<br>
          The Mus musculus mRNA-fibrotic diseases association data in FDRdb ( <a href="/FDRdb/download_txt/Mus_musculus_mRNA/">txt</a> or <a href="/FDRdb/download_csv/Mus_musculus_mRNA/">excel</a>).<br>
          The Rattus norvegicus mRNA-fibrotic diseases association data in FDRdb ( <a href="/FDRdb/download_txt/Rattus_norvegicus_mRNA/">txt</a> or <a href="/FDRdb/download_csv/Rattus_norvegicus_mRNA/">excel</a>).<br>
          </p></td>
      </tr>
	  <tr class="download_2">
        <td height="35">Other RNA-fibrotic diseases association data in FDRdb</td>
      </tr>
      <tr class="download_5">
        <td><p>All circRNA-fibrotic diseases association data that have been reported.( <a href="/FDRdb/download_txt/All_circRNA/">txt</a> or <a href="/FDRdb/download_csv/All_circRNA/">excel</a>).<br>
        	All siRNA-fibrotic diseases association data that have been reported.( <a href="/FDRdb/download_txt/All_siRNA/">txt</a> or <a href="/FDRdb/download_csv/All_siRNA/">excel</a>).<br>
        	</p></td>
      </tr>
    </tbody></table></td>