      <tr id="help_content">
        <td>
            <div class="linkdiv">
                <p>
                    FDGAdb is a powerful tool that could help researchers to explore RNAs functional mechanisms in FDs and seek the FDs-associated genome data sets. The current version of FDGAdb documents 9999 associations between 999 RNAs and 99 FDs in 9 species, manually collected from 99999 published literatures (Figure 1). Meanwhile, FDGAdb collected information of 8888 genome date sets of FDs.
                </p>
            </div>
        </td>
      </tr>