{% load staticfiles %}
        <td>
            <table width="1250" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td width="52%" height="478" align="left" valign="top" class="home_des">
                        <p style="text-align:justify">
                            <span class="home_des_word">FDRdb: Fibrotic Disease-associated RNAome database</span><soan>,</span>
                            is an open and up-to-data online manually curated depository of RNAs alterations and datasets about fibrotic diseases across various species. The current version of FDRdb documents 1524 associations between 695 RNAs and 82 fibrotic diseases in 8 species, manually collected from 957 published literatures, and collects information on 433 datasets of fibrotic diseases, including 378 mRNA expression profiles, 22 methylation profiles and 33 sequencing datasets.
                        </p>
                        <p style="text-align:justify">
                            <span class="home_des_link"> <a href="https://en.wikipedia.org/wiki/Fibrosis" target="_blank" class="home_des_link">Fibrosis</a></span>
                            is a common pathological outcome because of the severe or repetitive tissue injury or the dysregulation of wound-healing repair. Fibrotic diseases are defined by the abnormal deposition of extracellular matrix, which can affect various organs such as lung, liver, kidney, heart and skin. Fibrotic diseases can lead to organ dysfunction and death.
                        </p>
                        <a href="/FDRdb/home_species/homo_sapiens" target="_blank" onmouseover="annoShow_14()" onmouseout="annoHide_14()"><img src="/static/FDRdb/static/image/homo_sapiens.gif" style="position:absolute; margin-top:40px; margin-left:30px; width:100px; display:block"></a>
                        <a href="/FDRdb/home_species/mus_musculus" target="_blank" onmouseover="annoShow_15()" onmouseout="annoHide_15()"><img src="/static/FDRdb/static/image/mus_musculus.gif" style="position:absolute; margin-top:40px; margin-left:170px; width:100px; display:block"></a>
                        <a href="/FDRdb/home_species/rattus_norvegicus" target="_blank" onmouseover="annoShow_16()" onmouseout="annoHide_16()"><img src="/static/FDRdb/static/image/rattus_norvegicus.gif" style="position:absolute; margin-top:40px; margin-left:310px; width:100px; display:block"></a>
                        <a href="/FDRdb/home_species/ovis_aries" target="_blank" onmouseover="annoShow_17()" onmouseout="annoHide_17()"><img src="/static/FDRdb/static/image/ovis_aries.gif" style="position:absolute; margin-top:40px; margin-left:450px; width:100px; display:block"></a>
                        <a href="/FDRdb/home_species/lucilia" target="_blank" onmouseover="annoShow_18()" onmouseout="annoHide_18()"><img src="/static/FDRdb/static/image/lucilia.gif" style="position:absolute; margin-top:165px; margin-left:95px; width:100px; display:block"></a>
                        <a href="/FDRdb/home_species/sus_scrofa" target="_blank" onmouseover="annoShow_19()" onmouseout="annoHide_19()"><img src="/static/FDRdb/static/image/sus_scrofa.gif" style="position:absolute; margin-top:165px; margin-left:235px; width:100px; display:block"></a>
                        <a href="/FDRdb/home_species/porcine" target="_blank" onmouseover="annoShow_20()" onmouseout="annoHide_20()"><img src="/static/FDRdb/static/image/porcine.gif" style="position:absolute; width:100px; margin-top:165px; margin-left:375px; display:block"></a>
                        <a href="/FDRdb/home_species/canis_familiaris" target="_blank" onmouseover="annoShow_21()" onmouseout="annoHide_21()"><img src="/static/FDRdb/static/image/canis_familiaris.gif" style="position:absolute; margin-top:165px; margin-left:515px; width:100px; display:block"></a>

                    </td>
                    <td valign="top" class="home_body" style="height: 700px">
                        <div class="div0">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/brain" target="_blank"  onmouseover="annoShow_0()" onmouseout="annoHide_0()">Brain</a>
                            </p>
                        </div>
                        <div class="div1">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/eye" target="_blank"  onmouseover="annoShow_1()" onmouseout="annoHide_1()">Eye</a>
                            </p>
                        </div>
                        <div class="div2">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/stomach" target="_blank"  onmouseover="annoShow_2()" onmouseout="annoHide_2()">Stomach</a>
                            </p>
                        </div>
                        <div class="div3">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/lung" target="_blank" onmouseover="annoShow_3()" onmouseout="annoHide_3()">Lung</a>
                            </p>
                        </div>
                        <div class="div4">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/heart" target="_blank" onmouseover="annoShow_4()" onmouseout="annoHide_4()">Heart</a>
                            </p>
                        </div>
                        <div class="div5">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/liver" target="_blank" onmouseover="annoShow_5()" onmouseout="annoHide_5()">Liver</a>
                            </p>
                        </div>
                        <div class="div6">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/pancreas" target="_blank" onmouseover="annoShow_6()" onmouseout="annoHide_6()">Pancreas</a>
                            </p>
                        </div>
                        <div class="div7">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/spleen" target="_blank" onmouseover="annoShow_7()" onmouseout="annoHide_7()">Spleen</a>
                            </p>
                        </div>
                        <div class="div8">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/kidney" target="_blank" onmouseover="annoShow_8()" onmouseout="annoHide_8()">Kidney</a>
                            </p>
                        </div>
                        <div class="div9">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/intestine" target="_blank" onmouseover="annoShow_9()" onmouseout="annoHide_9()">Intestine</a>
                            </p>
                        </div>
                        <div class="div10">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/uterus" target="_blank" onmouseover="annoShow_10()" onmouseout="annoHide_10()">Uterus</a>
                            </p>
                        </div>
                        <div class="div11">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/nerve" target="_blank" onmouseover="annoShow_11()" onmouseout="annoHide_11()">Nerve</a>
                            </p>
                        </div>
                        <div class="div12">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/bone" target="_blank" onmouseover="annoShow_12()" onmouseout="annoHide_12()">Bone</a>
                            </p>
                        </div>
                        <div class="div13">
                            <p>
                                <a class="tooltips" href="/FDRdb/home_search/skin" target="_blank" onmouseover="annoShow_13()" onmouseout="annoHide_13()">Skin</a>
                            </p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
