<td height="500" valign="top"><table width="1100" border="0" align="center">
<style>
.link1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 28px;
    color: #F30;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 10px;
}
.link2 {
font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 30px;
    padding-top: 20px;
}
.link22 {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    font-weight: bolder;
    color: #F60;
}
.link21 {
    color: #09F;
    font-weight: bolder;
}

.link2 td a:hover {
    text-decoration: underline;
}

.link2 td a {
    color: #09F;
    text-decoration: none;
    font-weight: bolder;
}

</style>
      <tbody>
<tr>
        <td class="link1">All Links</td>
      </tr>
<tr>
        <td height="2" style="background-color: #0099FF"></td>
      </tr>
      <tr class="link2">
        <td class="link2">
          <span class="link22">miRNA-fibrotic diseases association data in FDRdb</span><br />
          <span class="link21">•</span> <a href="http://research.imb.uq.edu.au/rnadb/index.htm" target="_blank">RNAdb:</a> a comprehensive database of mammalian noncoding RNAs.<br />
          <span class="link21">•</span> <a href="http://www.mirbase.org/" target="_blank">miRBase:</a> a searchable database of miRNA sequences and annotation.<br />
          <span class="link21">•</span> <a href="http://www.bioinfo.org/noncode/" target="_blank">NONCODE:</a> an integrated knowledge database of noncoding RNAs (except tRNAs and rRNAs).<br />
          <span class="link21">•</span> <a href="http://biobases.ibch.poznan.pl/ncRNA" target="_blank">Noncoding RNA database:</a> a database providing information on the sequences and functions of ncRNAs.<br />
          <span class="link21">•</span> <a href="http://www.mir2disease.org/" target="_blank">miR2Disease:</a> a manually curated database for microRNA deregulation in human disease.<br />
        </td>
      </tr>
      <tr class="link2">
        <td class="link2">
          <span class="link22">LncRNA-fibrotic diseases association data in FDRdb</span><br />
          <span class="link21">•</span> <a href="http://research.imb.uq.edu.au/rnadb/index.htm" target="_blank">RNAdb:</a> a comprehensive database of mammalian noncoding RNAs.<br />
             <span class="link21">•</span> <a href="http://www.lncrnadb.org" target="_blank">LncRNAdb:</a> a comprehensive database providing annotations of eukaryotic long non-coding RNAs.<br />
            <span class="link21">•</span> <a href="http://genome.igib.res.in/lncRNome" target="_blank">LncRNome:</a> a comprehensive biologically oriented knowledgebase for human long noncoding RNAs.<br />
          <span class="link21">•</span> <a href="http://www.bioinfo.org/noncode/" target="_blank">NONCODE:</a> an integrated knowledge database of noncoding RNAs (except tRNAs and rRNAs).<br />
          <span class="link21">•</span> <a href="http://biobases.ibch.poznan.pl/ncRNA" target="_blank">Noncoding RNA database:</a> a database providing information on the sequences and functions of ncRNAs.<br />
          <span class="link21">•</span> <a href="http://www.rnanut.net/lncrnadisease/" target="_blank">LncRNADisease v2.0:</a> a database curated the experimentally supported lncRNA-disease association data.<br />
        </td>
      </tr>
      <tr class="link2">
        <td class="link2">
          <span class="link22">Other RNA-fibrotic diseases associated data in FDRdb</span><br />
		<span class="link21">•</span> <a href="http://www.nlm.nih.gov/mesh/MBrowser.html" target="_blank">MeSH (Medical Subject Heading) Browser</a><br />
            <span class="link21">•</span> <a href="http://www.ensembl.org/index.html" target="_blank">Ensembl:</a> provide genome databases for vertebrates and other eukaryotic species.<br />
            <span class="link21">•</span> <a href="http://www.omim.org" target="_blank">OMIM:</a> a comprehensive resource of curated descriptions of human genes and phenotypes.<br />
            <span class="link21">•</span> <a href="http://omictools.com/" target="_blank">OMICtools:</a> a manually curated metadatabase providing an overview of web-accessible tools.<br />
            <span class="link21">•</span> <a href="http://clingen.igib.res.in/circad/" target="_blank">circad:</a> a manually curated database of circular RNAs associated with diseases.<br />
            <span class="link21">•</span> <a href="http://cgga.org.cn:9091/circRNADisease/" target="_blank">circRNADisease:</a> a manually curated database of experimentally supported circRNA and disease associations.<br />
          <p>&nbsp;</p>
        </td>
      </tr>
    </tbody></table></td>