






body {
    background-color: #CCC;
    margin: 0px;
}

.nav {
    background-color: #739D34;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: bolder;
    color: #FFF;
    padding-left: 65px;
    height: 40px;
}


.file{
    cursor: pointer;
    color: #000;
    padding-left: 20px;
    padding-right: 20px;
}


.option_page{
    cursor: pointer;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
}

.file_browse{
    cursor: pointer;
}

.home_body {
    background-image: url(/static/FDRdb/static/image/body.gif);
    background-repeat: no-repeat;
    background-position: center 2px;
}

.bottom {
    font-family: "MS Serif", "New York", serif;
    font-size: 16px;
    font-style: italic;
    line-height: 10px;
    color: #FFF;
    background-color: #2E7D32;
    text-align: center;
}


